.hei{
    height: 100vh;
}

.back{
    background: url(./img/bk-1-1536x864.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1{
    height: 70vh;
    width: 30vw;
    background-color: #da0007 ;
    /* opacity: 0.85; */
    /* filter: blur(8px); */
}

.fs-11{
    font-size: 60px;
    color: white;
}

.text-mcd{
    color: #da0007 ;
}



.fs-12{
    font-size: 50px;
}


.disnone{
    display: none;
}

.disblock{
    display: block;
}


.failed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lobster-regular {
      font-family: "Lobster", sans-serif;
      font-weight: 900;
      font-style: normal;
    }
  
    .great-vibes-regular {
      font-family: "Great Vibes", cursive;
      font-weight: 400;
      font-style: normal;
    }
  
  .advent-pro {
    font-family: "Advent Pro", sans-serif;
    font-weight: 300;
  }
  
  
  .grandstander{
    font-family: "Grandstander", cursive;
    font-weight: 100;
  }
    